.navbar {
  &__hamburger {
    font-size: x-large;
    font-weight: bolder;
  }
  .links {
    padding: 0;
    &__item {
      list-style: none;
    }
  }
  .links--visible {
    display: block;
  }
  .links--invisible {
    display: none;
  }
}

@media (min-width: 767.98px) {
  .navbar {
    .links {
      display: flex;
      gap: 1rem;
    }

    &__hamburger {
      display: none;
    }
  }
}
